body {
    background-color: grey;
}


.Titulo{
    font-style: normal;
    color: indigo;

}

#Parrafo_para_utilizar_ID{
    color: purple;
}

.Subtitulo{
    font-style: normal;
    color: indigo;
}

.BarraNavegacion{
    font-style: normal;
    color: indigo;
}

.footer{
    font-style: normal;
    color: indigo;
}


@media (max-width: 320px) {
    .contenedor-flex {
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 1.25em;
    }'
}