body {
    background-color: grey;
}


.Titulo{
    font-style: normal;
    color: indigo;

}

.Subtitulo{
    font-style: normal;
    color: indigo;
}

.BarraNavegacion{
    font-style: normal;
    color: indigo;
}

.footer{
    font-style: normal;
    color: indigo;
}


@media screen {max-width: 320px;
    
}